*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111/*radial-gradient(circle at 1250px 900px,#00e5ff 70%,#0084ff 30%)*/;
    /*background-repeat: no-repeat;
    background-size: cover;*/
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}
.navbar{
    position: sticky;
    top: -1px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #fff0; 
    padding: 0 20px;
    margin-top: 30px; 
}

.navbar.back{
    background-color: #555;
    height: 70px;
}
.navbar .logo a{
    display: inline-block;
    font-size: 2.3em;
    font-weight: 900;
    position: relative;
    left: 0px;
    top: 0px;
    width: 4em;
    padding: 5px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: none;
    color: #fff;
} 
.navbar .openBtn{
    display: none;
    position: absolute;
    right: 40px;
    top: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("images/menu.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%); 
}
.navbar .openBtn.active{
    background: url("images/close.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(0);
}
.navbar ul{
    display: inline-flex;
    position: relative;
    right: 0;
    top: 0;
    list-style-type: none;
}
.results{
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: #111;
    min-height: 100vh;
    width: 100%;
/*  box-shadow: 20px 20px 100px #0005; */
}
.results .list{
    position: relative;
    display: flex;
    width: 100%;
    z-index: 2;
}
.results .list ul{
    display: inline-flex;
    position: relative;
    width: 100%;
    padding: 0 50px;
    list-style-type: none;
}
.results h1{
    text-align: center;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid #fff;
    font-size: 3em;
    margin: 30px 0;
    user-select: none;
    color: #03a9f4;
    z-index: 2;
}
.results .tContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    min-height: 100vh;
    width: 100%;
    transform: translateY(-15%);
}
.results .tContainer .testimonials{
  position: relative;
  min-width: 100%;
  -webkit-box-reflect: below 10px linear-gradient(transparent 70%, #0005);
}
.results .swiper-slide {
    display: block;
    background-position: center;
    max-width: 320px;
    height: 420px;
    margin: 0 20px;
    background: #fff;
}
.results .swiper-container-3d .swiper-slide-shadow-left,
.results .swiper-container-3d .swiper-slide-shadow-right{
  background-image: none; 
}
.results .tContainer .testimonials .card{
  position: relative;
  width: auto;
  margin: 0 auto;
  background: #333;
  padding: 40px 20px;
  text-align: center;
  overflow: hidden;
}
.results .tContainer .testimonials .card .layer{
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  width: calc(100% - 1px);
  height: 100%;
  background: linear-gradient(#03a9f4,#e91ee3);
  z-index: 1;
  transition: 0.7s;
}
.results .tContainer .testimonials .card:hover .layer{
  top: 0;
}
.results .tContainer .testimonials .card .content{
  position: relative;
  z-index: 2;

}
.results .tContainer .testimonials .card .content p{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 1px;
    user-select: none;
}
.results .tContainer .testimonials .card .content .imgBox{
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}
.results .tContainer .testimonials .card .content .imgBox img{
  width: 100%;
    user-select: none;
}
.results .tContainer .testimonials .card .content h2{
  font-size: 18px;
  color: #fff; 
  letter-spacing: 1px;
  word-spacing: 5px;
    user-select: none;
}
.results .tContainer .testimonials .card .content h2 span{
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s; 
}
.results .tContainer .testimonials .card:hover .content h2 span{
  color: #fff;
}
@media only screen and (max-width: 1200px){
 .navbar .openBtn{
    display: inline-block;
    z-index: 11;
 }
 .navbar{
    flex-direction: column;
 }
  .navbar .logo{
    width: 100%;
 }  
 .navbar ul{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
}
 .navbar.active ul{
    display: flex;
    opacity: 1;
 }
.navbar ul li a{
    border: none;
    font-size: 1em;
    margin: 15px; 
    text-align: center;  
}

}
@media only screen and (max-width: 800px){
}